
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');

.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    
  }
  body{
    background-color: rgb(0, 0, 0);
  }
  .container {
    max-width: 1350px;
    width: 75%;
    margin: 0 auto; 
}
  .logo{
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    display: flex;
    align-items: center;
  }
  .display-flex{
    display: flex;
  }
  .header-bg{
    height: 515px;
    background-image: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, .2) 100%);
    margin-top: 30px;
  }
  .navbar{
    justify-content: space-between;
    height: 80px;
  }
  .nav-item{
    color: rgb(255, 255, 255);
    list-style: none;
    
  }
  .menu-bar{
    display: none;
  }
  .nav-links{
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 10px;
  }
  .nav-link{
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    margin-right: 25px;
  }
  .navbar, .banner{
    max-width: 1140px;
    margin: 0 auto;
  }
  .banner{
    margin-top: 20px;
  }
  .banner-text{
    color: rgb(255, 255, 255);
    font-family: Inter;
    text-align: left;
  }
  .heading{
    font-size: 70px;
    font-weight: 800;
    line-height: 100%;
    margin: 40px 10px 20px 0px; 
  }
  .miama{
    font-family: 'Miama', sans-serif;                                            
    font-size: 100px;
    font-weight: 400;
    margin-right: 8px;
    letter-spacing: 3px;
  }
  .button{
    color: rgb(255, 255, 255);
    list-style: none;
    background: rgb(230, 83, 60);
    justify-content: center;
    border: none;
    border-radius: 45px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 20px;
  }
  .nav-item1{
    list-style: none;
    border-radius: 39px;
    margin-left: -5px;
  }
  .sub-heading{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
  }
  .joinButton{
    padding: 16px 40px 16px 40px;
  }
  .downloadBtn{
    background: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 14px 35px 14px 35px;
  }
  .buttons{
    gap: 10px;
  }
  .banner-image{
    position: absolute;
    top:115px;
    width: 349px;
    height: 430px;
    left: 877px;
    bottom: 0px;
  }
  .free{
    position: absolute;
    left: -87px;
    top: 310px;
    width: 163px;
    height: 68px;
  }
  .workout{
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    padding-top: 5px;
    display: flex;
  }
  .font{ 
    font-family: Inter;
    color: rgba(255, 255, 255, 0.65);
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    margin: 0;
    margin-left: 15px;
  }
  .number{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 35px;
    font-weight: 900;
    text-align: left;
    margin: 0px;
    margin-left: 15px;
  }

  .ellipse{
    position: relative;
    left: 12px;
    top: 15px;
    background: rgb(230, 83, 60);
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    margin-right: 10px;
  }
  .tutorial{
    position: absolute;
    width: 153px;
    height: 68px;
    right: 25px;
    top: 100px;
  }
  .habit-heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
    margin-bottom: 0px;
  }
  .habit-subHeading{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
    margin-bottom: 50px;
  }
  .habits{
    margin: 50px 0px;
    display: flex;
    flex-direction: column;
  }
  .exercises{
    display:flex;
    justify-content: center;
    gap: 40;
  }
  .exercise{
    position: static;
    width: 250px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 30;
    padding: 0px
  }

  .img1{
    width: 182px;
    height: 180px;
    background: url(./images/image\ 3.png);
    border-radius: 50%;
  }
  .img2{
    width: 182px;
    height: 180px;
    background: url(./images/image\ 2.png);
    border-radius: 50%;
  }
  .img3{
    width: 182px;
    height: 180px;
    background: url(./images/image\ 4.png);
    border-radius: 50%;
  }
  .img4{
    width: 182px;
    height: 180px;
    background: url(./images/image\ 5.png);
    border-radius: 50%;
  }
  .excercise-heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
  }
  .excercise-subHeading{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
    text-align: center;
  }
  .extra-section{ 
    margin: auto;
    width: 50%;
    width: 1060px;
    height: 371px;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    display: grid;
    place-content: center;
  }
  .extra-container{
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    column-gap: 80px;
  }
  .extra-text{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
  }
  .extra-heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 48px;
    font-weight: 900;
    letter-spacing: 0%;
    text-align: left;
    margin: 10px 0px;
  }
  .extra-subHeading{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
  }
  .extra-img{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
.img-container{
  width: 346px;
  height: 300px;
  border-radius: 18px;

}
.bmi-text{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20;
  padding: 0px;
}
.bmi-heading{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 48px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0px;
}
.bmi-sub-heading{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: left;
}
.bmi-calculator{
  width: 100%;
  height: 487px;
  margin: 38px 0px;
  background: rgb(34, 34, 34);
}
.calc-Container{
  display: flex;
  justify-content: space-between;
  margin: 50px 150px;
}
.calc-chart{
  height: 300px;
  
}
.table-chart{
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-collapse: collapse;
  height: 216px;
}
th{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  letter-spacing: 0%;
  text-align: start;
}
td{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}
td,th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px 23px;
}
.calc-heading{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 26px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 1px;
  word-spacing: 5px;
  text-align: left;
}
.calculate{
  width: 577px;
  height: 386px;
}
.table-class{
  padding-top: 30px;
}
.calc-form{
  margin-top: 20px;
  margin-bottom: 25px;
  height: 168px;
  display: grid;
  gap: 8px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.boxes{
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 8px;
  color: rgba(255, 255, 255, 0.6);
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  padding-left: 15px;
}

.box5{
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  border: none;
}
.td{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  letter-spacing: 0%;
}

.team-heading{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 42px;
  font-weight: 900;
  line-height: 120%;
  letter-spacing: 0%;
  margin-bottom: 0px;
}
.team-sub-heading{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.3px;
  text-align: center;
}
.team-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  
}
.team-container{
  border-radius: 18px;
  background: rgba(255, 255, 255, 0.1);
  width: 1060px;
  height: 580px;
  margin: auto;
  display: grid;
  justify-items: center;
  align-content: center;
  margin-bottom: 80px;
}

.team-members{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
  
}
.team-member{
  width: 330px;
  height: 265px;
  position: relative;
}

.team-member-img {
  width: 330px;
  height: 265px;
  object-fit: cover;
  border-radius: 18px;
  background: rgba(0, 0, 0, 0.2),url(image);
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
}
.trainer-name{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 0px;
}
.footer{
  width: 100%;
  height: 420px;
  background: rgba(255, 255, 255, 0.1);
  margin: auto;
  
}
.footer-text{
  display: flex;
  justify-content: center;
  gap: 125px;
}
.title{
  width: 443px;
  height: 176px;
}

.logo2{
    color: rgb(230, 83, 60);
    font-size: 56px;
    font-weight: 800;
    margin-bottom: 20px;
}
.service{
  margin-top: 35px;
  width: 185px;
  height: 249px;
}

.get-started{
  color: rgba(255, 255, 255, 0.5);
  font-family: Inter;
  font-size: 15px;
  font-weight: 400;
  list-style-type:none; 
  padding-left: 0px;
  line-height: 35px;
}
.get-startedHeading{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 30px;
  font-weight: 700;
  word-spacing: 5px;
  letter-spacing: 1px;
}
.new1{
  border: 2px solid rgba(255, 255, 255, 0.1);
  width: 78.45%;
  display: flex;
  justify-content: center;
}
.copy-right{
  margin-top: 40px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 16px;
font-weight: 400;
letter-spacing: 0.3px;
text-align: center;
}

@media screen and (max-width: 600px) {

  .nav-links{
    display: none;
  }
  .container {
    max-width: 100%;
    width: 90%;
    margin: 0 auto; 
}
  .header-bg{
    height:500px;
    max-width:100%;
    margin-top: 30px;
  }
  .heading{
    font-size: 30px;
    font-weight: 800;
    line-height: 150%;
  }
  .miama{
    font-family: 'Miama', sans-serif;                                            
    font-size: 52px;
    font-weight: 500;
    margin-right: 8px;
    letter-spacing: 1px;
  }
  .menu-bar{
    display: block;
    height: 45px;
    margin-top:18px ;
  }
  .banner-image{
    position: relative;
    margin-top:20px;
    width: 100%;
    height: auto;
    left: 10px;
  }
  .tutorial{
    position: absolute;
    width: 145px;
    height: 40px;
    right: 5px;
    top: 45px;
  }
  .free{
    position: absolute;
    left: 0px;
    top: 250px;
    width: 162px;
    height: 58px;
  }
  .habit-heading{
    margin-top: 700px;
  }
  .exercises{
    margin-top: 50px;
    width: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 40;
  }
  .exercise{
    position: static;
    width: 70%;
    height: 350px;
    align-items: center;
    padding: 0px
  }
  .extra-section{ 
    max-width: 90%;
    height: auto;
    border-radius: 18px;
    background: rgb(34, 34, 34);
  }
  .extra-container{
    height: auto;
    display: grid;
    row-gap: 40px;
    grid-template-columns: repeat(1 , 1fr);
    padding-bottom: 30px;
    
  }
  .extra-text{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px 45px;
  }
  .extra-heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 0%;
    text-align: left;
  }
  .img-container{
    width: 80%;
    height: auto;
  }
  .extra-img{
    display: flex;
    justify-content: center;
  }
  .res-button{
    padding: 10px 90px;
  }
  .joinButton{
    padding: 16px 25px;
  }
  .downloadBtn{
    padding: 16px 25px;
  }
  .bmi-textContainer{
    margin:10px 25px;
  }
  .bmi-heading{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 30px;
    font-weight: 900;
    line-height: 100%;
  }
  .bmi-sub-heading{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    text-align: left;
  }
  .bmi-calculator{
    max-width: 100%;
  }
  .calc-Container{
    display: block;
    margin: 50px 20px;
    height: auto;
  }

  .calculate{
    margin-top: 200px;
    height: auto;
    width: 300px;
  }
  .calc-form{
    margin-top: 20px;
    margin-bottom: 25px;
    height: 168px;
    width: 335px;
  }
  .input-res
{
  width: 100%;
  max-width: 500px;
  border: none;
  padding: 10px 11px 11px 11px;
  border-radius: 3px;
  margin: 0;
  box-sizing: border-box; 
}
  .team-text{
    margin-top: 400px;
    margin-bottom: 30px;
    
  }
  .team-members{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 17px;
    
  }
  .team-container{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1);
    width: 100%;
    height: auto;
    margin: auto;
    margin-bottom: 80px;
  }
  .footer{
    width: 100%;
    height: auto;
    background: rgba(255, 255, 255, 0.1);
    margin: auto; 
  }
  .footer-text{
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
  }
  .title{
    width: 100%;
    height: 176px;
  }
  .logo2{
      color: rgb(230, 83, 60);
      font-size: 56px;
      font-weight: 800;
      margin-bottom: 20px;
  }
}